
.title-margin{text-align: center; margin-bottom: 80px;}
/* slider_section str */
html,
body{position: relative;height: 100%;}
body{background: white;color: #000;font-family: 'Poppins', sans-serif;}
.slider-section{margin-bottom: 80px;}
.swiper{width: 100%;height: 100%;}
.swiper-slide{text-align: center;font-size: 18px; display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.swiper-slide img{position: relative; display: block;width: 100%;height: 100%;object-fit: cover;}
.swiper-slide > div{position: absolute; text-align: left; }
.swiper-slide > div h1{font-size: 70px; margin-bottom: 15px;}
.swiper-slide > div h1 span{color: #ffc221; display: block;}
.swiper-slide > div P{line-height: 22px; font-size: 17px; margin-bottom: 20px;}
.swiper-slide > div button{ width: 250px; border: none; background: #8fd3e8; padding: 9px 0px; color: #fff; font-size: 17px; border-radius: 30px 0px 30px 30px; display: inline-block; text-align: center;}
.swiper-slide > div button:hover{color: white; background-color: black; transition-duration: 0.5s;}
/* slider_section fin */

/* second-section str */
.second-section > div{background-color: #ffc221;}
.second-sub{background-color: white; box-shadow: #ddd 0px 0px 10px 3px; padding: 40px 0;}
.second-sub > ul{display: flex; margin-bottom: 30px; flex-wrap: wrap;}
.second-sub > ul li{width: 25%;}
.second-sub > ul li figure img{display: block; width: 100%; max-width: 164px;  margin: 0 auto 20px;}
.second-sub > ul li figure p{display: block; font-size: 17px; line-height: 23px; width: 100%; max-width: 85%; margin: 0 auto;}
.second-sub button{border: 1px solid #ffc221; font-size: 20px;  background-color: white; padding: 15px 40px;}
.second-sub button:hover{background-color: #ffc221; transition-duration: 0.5s;}
.total-title{font-size: 45px; font-weight: 500; margin-bottom: 20px;}
.total-title::after{position: relative; content: ''; top: 100%; width: 110px; height: 5px; display: block; margin: 0 auto; background: #000;}
.total-title span{color: #ffc221;}
.total-p{font-size: 25px; display: block; margin-bottom: 50px;}
.totla-fc{font-size: 20px; margin-bottom: 15px; font-weight: 500;}
/* second-section fin */

/* third-section str */
.third-section > ul{display: flex; flex-wrap: wrap; }
.third-section > ul > li{width: 31%;  background-color: white; box-shadow:#00000040 0px 0px 19px 0px; margin: 0 13px 30px 13px;}
.third-section > ul > li figure{padding: 30px 20px;}
.third-section > ul > li figure img{display: block; width: 100%; max-width: 168px; margin: 0 auto 20px;}
.third-section > ul > li figure p{font-size: 17px; display: block; line-height: 23px;}
/* third-section fin */

/* fourth-section str */
.fourth-section{background: url("../img/fourth-section.png") no-repeat center center; background-size: cover;}
.fourth-section > div{background: #ffffffbd; box-shadow: #00000040 0px 0px 25px 0px; padding: 50px 0;}
.fourth-ul{display: flex; flex-wrap: wrap;}
.fourth-ul > li{width: 23.2%; background-color: #ddd; margin: 0 10px 30px 10px;}
.fourth-ul > li:hover{background-color: #fdc24f;}
.fourth-ul > li figure{padding: 20px 25px;}
.fourth-ul > li figure img{display: block; width: 100%; max-width: 197px; margin: 0 auto 20px;}
.fourth-ul > li figure figcaption dl dt{font-size: 17px; margin-bottom: 15px; font-weight: 500;}
.fourth-ul > li figure figcaption dl dd{font-size: 25px; font-weight: 500; }
/* fourth-section fin */

/* five-section str */
.five-section{margin-bottom: 80px;}
.five-section div h2{font-size: 45px; font-weight: 500; margin-bottom: 50px;}
.five-section div > ul li{display: block; width: 100%; margin-bottom: 40px;}
.five-section div > ul li p{font-size: 17px; line-height: 25px;}
.five-section div > ul li > div{display: flex; margin-bottom: 20px;}
.five-section div > ul li > div div{display: table; margin-left: 30px;}
.five-section div > ul li > div div p{display: table-cell; vertical-align: middle; line-height: 30px; font-size: 23px; font-weight: 700;}
.five-section div > ul li > div div p span{font-size: 17px; display: block; font-weight: 400;}
.five-section div > ul li img{display: block; width: 100%; max-width: 150px; border-radius: 50%;}
/* five-section fin */

/* six-section str */
.six-section > div{background: #ffc221; padding: 40px 30px; margin-top: 100px; display: flex; justify-content: space-between;}
.six-section > div div div{display: flex; margin-bottom: 10px;}
.six-section > div div div span{font-size: 31px; color: white; font-weight: 700; margin-bottom: 10px; display: inline-block;}
.six-section > div div div img{margin-left: 15px;}
.six-section > div div p{font-size: 22px; font-weight: 500;}
.six-section > div button{background: #000; border-radius: 30px; margin-top: 6px; max-width: 344px; width: 100%; font-size: 31px; color: white;  text-align: center; border: none; height: 60px;}
.last-img{display: block; width: 100%; max-width: 1903px;}
/* six-section fin */


@media screen and (max-width: 1139px){
    /* slider_section str */
    .swiper-slide > div h1{font-size: 50px;}
    .swiper-slide > div P{font-size: 15px;}
    /* slider_section fin */

    /* third-section str */
    .third-section > ul{justify-content: center;}
    .third-section > ul > li {width: 46%;}
    /* third-section fin */

    /* fourth-section str */
    .fourth-ul{justify-content: center;}
    .fourth-ul > li{width: 47%;}
    /* fourth-section fin */

    /* six-section str */
    .six-section > div div div{display: block;}
    /* six-section fin */
}
@media screen and (max-width: 735px){
    /* slider_section str */
    .swiper-slide > div h1{font-size: 35px; margin-bottom: 10px;}
    .swiper-slide > div P{font-size: 14px; margin-bottom: 10px;}
    .swiper-slide > div button{padding: 5px 0;}
    .slider-section,
    .title-margin{margin-bottom: 50px;}
    /* slider_section fin */

    /* second-section str */
    .second-sub > ul{justify-content: center;}
    .second-sub > ul li{width: 48%; margin-bottom: 30px;}
    .total-title{font-size: 30px;}
    .total-p{font-size: 17px; margin-bottom: 30px;}
    /* second-section fin */

    /* third-section str */
    .third-section > ul > li{width: 100%;}
    /* third-section fin */

     /* fourth-section str */
    .fourth-ul > li{width: 100%;}
    /* fourth-section fin */

    /* six-section str */
    .six-section > div{display: block;}
    .six-section > div div span{font-size: 25px;}
    .six-section > div div p {font-size: 17px;}
    .six-section > div button{height: 45px;}
    /* six-section fin */
}
@media screen and (max-width: 500px){
    /* slider_section str */
    .swiper-slide > div {left: 40px;}
    .swiper-slide > div P{display: none;}
    .swiper-slide > div h1{font-size: 30px;}
    .swiper-slide > div button{width: 180px;}
    /* slider_section fin */

     /* second-section str */
     .second-sub > ul li{width: 100%; margin-bottom: 30px;}
     /* second-section fin */

     /* five-section str */
     .five-section div h2{font-size: 30px;}
     /* five-section fin */
}